table {
    border-collapse: collapse;
}

td {
    width: 100px;
    height: 100px;
}

.bgBlue {
    background-color: blue;
}

.bgRed {
    background-color: red;
}

.circle {
    border-radius: 50%;
}